/* GET RID OF BORDERS WHEN  */


/* UTILITY STYLE */
:root {
    --primary-color: #7a7a7a;
    --secondary-color: rgba(122, 122, 122, 0.75);
    --tertiary-color: rgb(76, 82, 109, 0.75);
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--primary-color);
    font-family: Courier, Monospace, Verdana;
    text-align: center;
}

.flex-row {
    display: flex;
}
/* UTILITIES STYLE ENDS */

/* HEADER STYLE */
header {
    padding: 20px 20px;
    top: 0;
    background-color: #faebd7;
    background-image: url(../images/mexico-city.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    z-index: 100;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    margin: 20px;
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav {
    display: flex;
    align-self: center;
    margin: 20px 20px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 0 15px 0 15px;
    font-size: 1.5vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
/* HEADER STYLE ENDS */

/* STYLE ALL SECTIONS */
section {
    padding: 50px;
}
/* END SECTION STYLING */

/* HERO STYLE */
.hero {
    background-image: url(../images/mexico-city.jpg);
    background-size: cover;
    justify-content: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 500px;
}
.hero p {
    background-color: rgb(240, 248, 255, 0.5);
    margin: 20px 10vw 0 10vw;
    padding: 20px;
    border: 2px solid var(--tertiary-color);
    border-radius: 5px;
}
/* HERO STYLE ENDS */


/* ABOUT STYLE */
.about {
    /* margin: 10px 0 10px 0; */
    border: 5px solid var(--primary-color);
}

.profile-pic img {
    max-width: 40vw;
    border: 5px solid var(--primary-color);
}

.profile-desc {
    box-sizing: content-box;
    width: 50%;
    border: 5px solid var(--primary-color);
}
/* ABOUT STYLE ENDS */

/* PORTFOLIO STYLE */
.portfolio {
    margin: 10px 0 10px 0;
    border: 5px solid var(--primary-color);
}

.portfolio .photography p, h3 {
    background-color: rgb(240, 248, 255, 0.75);
    margin: 2px;
    border-radius: 5px;
    width: 40%;
}

.first-project {
    border: 5px solid var(--primary-color);
    background-image: url("../images/oaxaca-agave.jpg");
    background-size: 105% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    padding: 15%;
}

.other-projects {
    margin: 1%;
    border: 5px solid var(--primary-color);
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}

.second-project {
    border: 3px solid var(--primary-color);
    background-image: url("../images/mountains.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 25vw;
    width: 45%;
    margin: 1%;
}

.third-project {
    border: 3px solid var(--primary-color);
    background-image: url("../images/great-heights.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 25vw;
    width: 45%;
    margin: 1%;
}

.fourth-project {
    border: 3px solid var(--primary-color);
    background-image: url("../images/pe-sunset.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 25vw;
    width: 45%;
    margin: 1%;
}

.fifth-project {
    border: 3px solid var(--primary-color);
    background-image: url("../images/buzlugzah.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 25vw;
    width: 45%;
    margin: 1%;
}
.portfolio {
    margin: 10px 0 10px 0;
    border: 5px solid var(--primary-color);
}
.projects {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.first-project {
    justify-content: center;
    padding: 10%;
    border: 5px solid var(--primary-color);
    background-image: src="";
    flex: 1;
    flex-basis: 100%;
}

.other-projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 5px solid var(--primary-color);
}

.other-projects div {
    margin: 1%;
    border: 5px solid var(--primary-color);
    flex: 1;
    flex-basis: 50%;
    flex-wrap: wrap;
    flex-direction: row;
}

/* .project-2 .project-3 {
    flex: 1;
} */

/* PORTFOLIO STYLE ENDS */

/* PHOTOGRAPHY STYLE */
.photography {
    margin: 10px 0 10px 0;
    border: 5px solid var(--primary-color);
}

.first-photo {
    border: 5px solid var(--primary-color);
    background-image: url("../images/oaxaca-agave.jpg");
    background-size: 105% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    padding: 15%;
}

.photography p, h3 {
    background-color: rgb(240, 248, 255, 0.75);
    margin: 2px;
    border-radius: 5px;
    width: 40%;
}

.other-photos {
    margin: 1%;
    border: 5px solid var(--primary-color);
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}

.second-photo {
    border: 3px solid var(--primary-color);
    background-image: url("../images/mountains.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 25vw;
    width: 45%;
    margin: 1%;
}

.third-photo {
    border: 3px solid var(--primary-color);
    background-image: url("../images/great-heights.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 25vw;
    width: 45%;
    margin: 1%;
}

.fourth-photo {
    border: 3px solid var(--primary-color);
    background-image: url("../images/pe-sunset.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 25vw;
    width: 45%;
    margin: 1%;
}

.fifth-photo {
    border: 3px solid var(--primary-color);
    background-image: url("../images/buzlugzah.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 25vw;
    width: 45%;
    margin: 1%;
}

/* PHOTOGRAPHY STYLE ENDS */

/* CONTACT STYLE */
.contact {
    margin: 10px 0 10px 0;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    border: 5px solid var(--primary-color);
}

.contact-photo {
    justify-content: center;
    border: 5px solid var(--primary-color);
    background-image: url("../images/staircase.jpg");
    background-size: 105% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20%;
}
/* CONTACT STYLE ENDS */


/* FOOTER STYLE */
footer {
    font-family: Monaco;
}
/* FOOTER STYLE ENDS*/


/* MEDIA QUERY SMALLER DESKTOP - 980PX */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

}
/* END MEDIA QUERY */

/* MEDIA QUERY FOR MOBILE - 768PX AND 575PX */
@media screen and (max-width: 768px) {
    .profile-pic {
        max-width: 50%;
    }
    
}

@media screen and (max-width: 575px) {
    .profile-pic {
        max-width: 100%;
    }

}
/* MEDIA QUERY ENDS */


